
<p>
  <strong>Word:</strong>
  <%= @definition.word %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @definition.definition %>
</p>

<p>
  <strong>Url:</strong>
  <%= @definition.URL %>
</p>

<%= link_to 'Edit', edit_definition_path(@definition) %> |
<%= link_to 'Back', definitions_path %>
