<%= form_with(model: word, local: true) do |form| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :word %>
    <%= form.text_field :word, id: :word_word %>
  </div>

<!-- form fields for nested definitions -->
  <%= form.fields_for :definitions do |definition| %>

    <div class="field">
      <%= definition.label :definition %>
      <%= definition.text_field :definition %>
    </div>

    <div class="field">
      <%= definition.label :URL %>
      <%= definition.text_field :URL %>
    </div>

  <% end %>
<!-- end of form fields for nested definitions -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
