<%#= render 'definition_form', word: @word %>

<%= form_for @word do |form| %>

<!--<#% if @word.errors.any? %> -->
<!--  <div id="error_explanation">
      <h2><%#= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <#% word.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <#% end %>
      </ul>
    </div> -->

  <div class="form-group upper-margin">
    <%= select_tag :word, options_for_select(Word.all.map { |word| [word.word, word.id] }, selected: params[:word]), include_blank: "Word", class: "form-control"%>
  </div>

  <%#= select_tag(:option, options_for_select([['All', 1], ['Co', 2], ['Bought', 3], ['View', 4], ['Top API', 5]], :selected => params[:option])) %>


  <%= form.fields_for :definitions do |definition| %>

    <div class="form-group">
      <%= definition.text_field :definition, class: "form-control definition", placeholder: "Definition", id: "chartdiv"%>
    </div>

  <% end %>

  <div class="form-group">
    <%= form.submit class: "btn btn-secondary form-control", value: "Create Definition" %>
  </div>

<% end %>