<%= form_for @word do |form| %>

  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group upper-margin">
    <%= form.text_field :word, id: :word_word, class: "form-control", placeholder: "Word" %>
  </div>

  <%= form.fields_for :definitions do |definition| %>


    <div class="form-group">

<!--     onClick = "document.getElementById('chartdiv').setAttribute('style', 'height: 0px; padding-bottom: 0px; opacity: 0;').getElementById('ShiftButton').innerText = 'Add Definition'""

<input type="button" value="test" onclick="alert('hey'); alert('ho');" />

 onClick = "document.getElementById('chartdiv').setAttribute('style', 'height: 0px; padding-bottom: 0px; opacity: 0;'); getElementById('ShiftButton').innerText = 'Add Definition';" onClick = "document.getElementById('chartdiv').reset()

 -->
      <button type="button" id="ShiftButton" class="btn btn-secondary form-control" >I don't know the definition!</button>

        <%= definition.text_field :definition, class: "form-control definition", placeholder: "Definition", id: "chartdiv"%>

    </div>

  <% end %>

  <div class="form-group">
    <%= form.submit class: "btn btn-secondary form-control" %>
  </div>

<% end %>
