<p><%= will_paginate @word, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></p>

<!-- flex band -->

<% @words.each do |word| %>
<div class="band">
  <div class="two centered">
    <h5><%= link_to "#{word.word}", word %></h5>
    <p class="attribute"><%= word.user.first_name %> <%= word.user.last_name %>, <%= word.created_at.strftime("%-m/%-d/%-y") %> </p>
    
    <%= link_to new_word_definition_path(word) do %>
      <i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
    <% end %>

  </div>
  <div class="three">

    <%#= will_paginate word.definitions %>

      <% word.definitions.order(:cached_votes_up => :desc).first(1).each do |definition| %>
        <div class="three-b">

          <div class="votes centered">
            <h5>Votes Tally:</h5>
            <br>
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
            <h5><%= definition.cached_votes_up %></h5>
            <br>
            <h5><%= definition.cached_votes_down %></h5>
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </div>

          <div class="definitions">
              <h5><%= definition.definition %></h5>
              <p class="attribute"><%= definition.user.first_name %> <%= definition.user.last_name %>, Submitted <%= time_ago_in_words(definition.created_at) %> ago. </p>
              <div class="honeycomb"></div>
          </div>
        </div>
      <% end %>

        <div class="three-b">
          <div class="votes">
          </div>

          <div class="definitions">
            <h5><%= link_to "View all Definitions for #{word.word.capitalize}", word_path(word) %></h5>
          </div>

        </div>
    <%#= will_paginate word.definitions %>

  </div>

</div>

<!-- end of flex band -->
<% end %>

<p><%= will_paginate @word, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %></p>

<%= link_to 'New Word', new_word_path %>

