<%= will_paginate @words %>


<!-- flex band -->

<% @words.each do |word| %>
<div class="band">
  <div class="two centered">
    <h5><%= link_to "#{word.word}", word %></h5>
    <p class="attribute"><%= word.user.first_name %> <%= word.user.last_name %>, <%= word.created_at.strftime("%-m/%-d/%-y") %> </p>
    
    <%= link_to new_word_definition_path(word) do %>
      <i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
    <% end %>

  </div>
  <div class="three">

    <%#= will_paginate word.definitions %>

      <% word.definitions.first(2).each do |definition| %>
        <div class="three-b">

          <div class="votes">
            <h5><%#= definition.definition.liked_by @user %></h5>
            <h5><%#= definition.definition.votes_for.size %></h5>
          </div>

          <div class="definitions">
              <h5><%= definition.definition %></h5>
              <p class="attribute"><%= definition.user.first_name %> <%= definition.user.last_name %>, <%= definition.created_at.strftime("%-m/%-d/%-y") %> </p>
              <div class="honeycomb"></div>
          </div>
        </div>
      
        <p><%= link_to 'All Definitions', word_path(word) %></p>
      <% end %>
    
    <%#= will_paginate word.definitions %>

  </div>

</div>
<!-- end of flex band -->
<% end %>

<%= will_paginate @words %>

<%= link_to 'New Word', new_word_path %>

