<p id="notice"><%= notice %></p>
    
    <%#= will_paginate word.definitions %>
    <div class="show">

        <div class="show-a">
          <div class="show-margin">
          </div>
          <div class="show-heading">
            <h5><%= @word.word %></h5>
          </div>
        </div>

      <% @word.definitions.each do |definition| %>

        <div class="show-b">

          <div class="show-votes">
            <h5><%#= definition.definition.liked_by @user %></h5>
            <h5><%#= definition.definition.votes_for.size %></h5>
          </div>

          <div class="show-definitions">
              <h5><%= definition.definition %></h5>
              <p class="attribute"><%= definition.user.first_name %> <%= definition.user.last_name %>, Submitted <%= time_ago_in_words(definition.created_at) %> </p>
              <div class="honeycomb"></div>
          </div>
        </div>

        <!-- voting functionality -->
        <%= link_to like_word_definition_path(@word, definition), method: :put do %>
          Upvote
          <%= definition.get_upvotes.size %>
        <% end %>

        <%= link_to dislike_word_definition_path(@word, definition), method: :put do %>
          Downvote
          <%= definition.get_downvotes.size %>
        <% end %>

        <!-- end of voting functionality --> 

      <% end %>

    </div>
    <%#= will_paginate word.definitions %>





<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
