<nav class="navbar navbar-toggleable-md navbar-light bg-faded wrap">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div nav-brand centered>
    <h5>CodeUp Club</h5>
    <h4><%= link_to "Dictionary", root_path, class: "sub" %></h4>
  </div>
  <div class="collapse navbar-collapse vert-centered" id="navbarSupportedContent">
<!--     <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Browse <span class="sr-only">(current)</span></a>
      </li>
    </ul> -->
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Browse
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" data-turbolinks="false">
      <ul>

      <% if @word_array.present? %>

        <% @word_array.each do |letter| %>

<!--           <%#=  @word_array.inspect %>
 -->
          <!-- ["a", "i", "l", "n", "v"] -->

          <li class="dropdown-item"><%= link_to letter, :controller => "words" , :letter => letter %></li>

          <% end %>
        <% end %>
      </ul>
      </div>
    </div>
    <div class="box">
      <form class="form-inline my-2 my-lg-0 box-1 ml-auto">
<!--          <a class="ml-auto">
          <%#= link_to all_new_words_path, class: "nav-link overlay", style:"color:#5CB85C", data: { turbolinks: false }  do %>
           <i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i>
          <%# end %>
        </a> -->
        <div class="round-btn round-btn-outline-success ml-auto"><%= link_to "+", all_new_words_path, style:"color:#5CB85C", data: { turbolinks: false } %></div>
        <input class="form-control mr-sm-2 ml-auto" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="box-2 ml-auto">
        <% if user_signed_in? %>
          <a><%= link_to 'Log Out', destroy_user_session_path, class: "links" %></a>
          <a><%= link_to 'Edit Account', edit_user_registration_path, class: "links" %></a>
        <% else %>
          <a><%= link_to 'Sign Up', new_user_registration_path, class: "links" %></a>
          <a><%= link_to 'Sign In', new_user_session_path, class: "links" %></a>
        <% end %>
      </div>
    </div>
  </div>
</nav>